{#On utilise le layout général#}
{% extends "MIBilletterieBundle::layout.html.twig" %}

{% block Home %}
    <div id="home" class="slider">
        <ul class="slides">
            <li>
                <img src="{{ asset('img/louvre.jpg') }}"> <!-- random image -->
                <div class="caption center-align">
                    <div class="single_home">
                        <h1>Musée du LOUVRE</h1>
                        <button type="button" class="btn btn-danger m-t-3 waves-effect waves-red" href="{{ path('mi_billetterie_choixbillet') }}">Acheter mon billet</button> </div>
                </div>
            </li>
        </ul>
    </div>

    <section id="joinus" class="joinus">
        <div class="main_joinus_area m-y-3">
            <div class="container">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="main_joinus_content center white-text wow fadeInUp">
                            <i class="fa fa-user-plus m-b-1"></i>
                            <h2 class="text-uppercase m-b-3">A propos</h2>
                            <p>“ Le musée du Louvre est un musée d'art et d'antiquités situé au centre de Paris dans le palais du Louvre. Il est le plus grand des musées d'art du monde par sa surface d'exposition de 72 735 m27. Ses collections comprennent près de 460 000 œuvres. Celles-ci présentent l'art occidental du Moyen Âge à 1848, ceux des civilisations antiques qui l'ont précédé et influencé (orientales, égyptienne, grecque, étrusque et romaine), les arts des premiers chrétiens et de l'Islam. Le musée compte 2 100 employés (fonctionnaires, contractuels et vacataires), dont 1 200 agents de surveillance, un garde pour chacune des 403 salles d’exposition, que complètent les effectifs affectés aux 900 caméras du système de télésurveillance.”</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <hr />
    </section>
{% endblock %}